<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.poem.mapper.CommentMapper">

    <!-- 定义结果映射 -->
    <resultMap type="com.ruoyi.poem.domain.Comment" id="CommentResult">
        <id property="commentId" column="comment_id"/>
        <result property="poemId" column="poem_id"/>
        <result property="userId" column="user_id"/>
        <result property="content" column="content"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <!-- 根据古诗词ID获取评论列表 -->
    <select id="listCommentsByPoemId" resultMap="CommentResult">
        SELECT * FROM ape_comment WHERE poem_id = #{poemId}
    </select>

    <!-- 根据评论ID获取评论信息 -->
    <select id="getCommentById" parameterType="Long" resultMap="CommentResult">
        SELECT * FROM ape_comment WHERE comment_id = #{commentId}
    </select>

    <!-- 添加评论 -->
    <insert id="addComment" parameterType="com.ruoyi.poem.domain.Poem">
        INSERT INTO ape_comment (poem_id, user_id, content, create_time)
        VALUES (#{poemId}, #{userId}, #{content}, NOW())
    </insert>

    <!-- 删除评论 -->
    <delete id="deleteComment" parameterType="Long">
        DELETE FROM ape_comment WHERE comment_id = #{commentId}
    </delete>

</mapper>
