<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.property.mapper.PaymentMapper">

    <!-- 定义结果映射 -->
    <resultMap id="PaymentResult" type="com.ruoyi.property.domain.Payment">
        <id property="paymentId" column="payment_id"/>
        <result property="userId" column="user_id"/>
        <result property="type" column="type"/>
        <result property="amount" column="amount"/>
        <result property="paymentDate" column="payment_date"/>
        <result property="status" column="status"/>
        <result property="description" column="description"/>
        <result property="fileName" column="file"/>
    </resultMap>

    <!-- 查询所有缴费记录 -->
    <select id="getAllPayments" resultMap="PaymentResult">
        SELECT * FROM cps_payment
    </select>

    <!-- 根据缴费ID查询缴费记录 -->
    <select id="getPaymentById" parameterType="Long" resultMap="PaymentResult">
        SELECT * FROM cps_payment WHERE payment_id = #{paymentId}
    </select>

    <!-- 根据用户ID查询缴费记录 -->
    <select id="getPaymentsByUserId" parameterType="Long" resultMap="PaymentResult">
        SELECT * FROM cps_payment WHERE user_id = #{userId}
    </select>

    <!-- 添加缴费记录 -->
    <insert id="addPayment" parameterType="com.ruoyi.property.domain.Payment">
        INSERT INTO cps_payment (user_id, type, amount, payment_date, status, description, file)
        VALUES (#{userId}, #{type}, #{amount}, #{paymentDate}, #{status}, #{description}, #{fileName})
    </insert>

    <!-- 更新缴费记录 -->
    <update id="updatePayment" parameterType="com.ruoyi.property.domain.Payment">
        UPDATE cps_payment
        SET user_id = #{userId},
            type = #{type},
            amount = #{amount},
            payment_date = #{paymentDate},
            status = #{status},
            description = #{description},
            file = #{fileName}
        WHERE payment_id = #{paymentId}
    </update>

    <!-- 删除缴费记录 -->
    <delete id="deletePayment" parameterType="Long">
        DELETE FROM cps_payment WHERE payment_id = #{paymentId}
    </delete>

</mapper>
